<%- include ('../partials/head') %>
<%- include ('../partials/menu', { pageType: 'detail_product' }) %>

<main>
    <div class="container mt-5">
        <% if (results) { %>
            <div class="row">
                <!-- Column for Image -->
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <img src="<%= results.itemimage %>" class="card-img-top img-fluid" alt="Product Image" style="max-width: 100%; height: auto;">
                    </div>
                </div>

                <!-- Column for Product Details -->
                <div class="col-lg-8 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title"><%= results.marketname %></h1>
                        </div>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Latest Price: $<%= results.pricelatest %></li>
                            <li class="list-group-item">Latest Sell Price: $<%= results.pricelatestsell %></li>
                            <li class="list-group-item">Price Updated At: <%= results.priceupdatedat %></li>
                            <li class="list-group-item">Real Price: $<%= results.pricereal %></li>
                            <li class="list-group-item">Real Price Created At: <%= results.pricerealcreatedat %></li>
                            <li class="list-group-item">Win/Loss Percentage: <%= results.winlosspercentage %>%</li>
                            <li class="list-group-item">Median Price: $<%= results.pricemedian %></li>
                            <li class="list-group-item">Average Price: $<%= results.priceavg %></li>
                            <li class="list-group-item">Minimum Price: $<%= results.pricemin %></li>
                            <li class="list-group-item">Maximum Price: $<%= results.pricemax %></li>
                            <li class="list-group-item">Safe Price: $<%= results.pricesafe %></li>
                            <li class="list-group-item">Wear: <%= results.wear %></li>
                            <li class="list-group-item">Item Group: <%= results.itemgroup %></li>
                            <li class="list-group-item">Item Type: <%= results.itemtype %></li>
                            <li class="list-group-item">Item Name: <%= results.itemname %></li>
                            <li class="list-group-item">Rarity: <%= results.rarity %></li>
                            <li class="list-group-item">Quality: <%= results.quality %></li>
                            <li class="list-group-item">Last Updated: <%= results.updatedat %></li>
                        </ul>
                    </div>
                </div>
            </div>
        <% } else if (error) { %>
            <p class="alert alert-danger"><%= error %></p>
        <% } %>        
    </div>
</main>

<%- include ('../partials/footer') %>
