<!-- Include the 'head' partial for common head elements like CSS links, meta tags, etc. -->
<%- include ('../partials/head') %>

<!-- Include the 'menu' partial with 'pageType' set to 'discover' for the navigation menu -->
<%- include ('../partials/menu', { pageType: 'discover' }) %>

<div class="container mt-5">
    <!-- Search bar section -->
    <div class="row justify-content-center mb-4">
        <div class="col-md-6">
            <input type="text" class="form-control" id="searchInput" placeholder="Search...">
        </div>
    </div>

    <!-- Category Filter -->
    <div class="col-md-2">
        <label for="categoryFilterForm" class="form-label light-grey-text">Category</label>
        <select class="form-select" id="categoryFilterForm">
            <!-- Your category options here -->
        </select>
    </div>

    <!-- Main content area -->
    <div class="col-md-8">
        <div class="row row-cols-auto">
            <% if (results && results.length > 0) { %>
                <% results.forEach(item => { %>
                    <div class="item">
                        <div class="card" style="width: 18rem; background-color: rgb(96, 98, 130);">
                            <img src="<%= item.itemimage %>" class="card-img-top" alt="Image of skin">
                            <div class="card-body">
                                <h5 class="card-title"><%= item.marketname %></h5>
                                <p class="card-text">Average Price in USD: $<%= item.priceavg %></p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <!-- Item details here -->
                            </ul>
                            <div class="card-body">
                                <a href="detail_product/<%= item.id %>" class="btn btn-primary light-grey-text">View Details</a>
                                <form action="/bookmark/<%= item.id %>" method="POST">
                                    <button type="submit" class="btn btn-primary light-grey-text">Bookmark</button>
                                </form>
                            </div>
                        </div>
                    </div>
                <% }); %>
            <% } else { %>
                <p>No items found or there was an error.</p>
                <% if (error) { %>
                    <p>Error: <%= error %></p>
                <% } %>
            <% } %>
        </div>
    </div>

    <!-- Right sidebar for filters -->
    <div class="col-md-2">
        <!-- Filters here -->
    </div>
</div>

<!-- Include the 'footer' partial for the page footer -->
<%- include ('../partials/footer') %>
