<%- include ('../partials/head') %>
<%- include ('../partials/menu', { pageType: 'login' }) %>

<main>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <% if (message) { %>
                    <div class="alert alert-success" role="alert">
                        <%= message %>
                    </div>
                <% } %>
                
                <form action="/login" method="POST">
                    <h1 class="text-center mb-4 drop-shadow light-grey-text">Login</h1>
                    <div class="mb-3">
                        <label for="username" class="form-label light-grey-text">Username</label>
                        <input type="text" id="username" name="username" class="form-control light-grey-text" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label light-grey-text">Password</label>
                        <input type="password" id="password" name="password" class="form-control light-grey-text" required>
                    </div>
                    <!-- Hidden input for redirectedFrom -->
                    <% if (typeof redirectedFrom !== 'undefined' && redirectedFrom) { %>
                        <input type="hidden" name="redirectedFrom" value="<%= redirectedFrom %>">
                    <% } %>
                    <div class="d-grid gap-2">
                        <input type="submit" value="Login" class="btn btn-primary">
                    </div>
                </form>
                <div class="text-center mt-3">
                    <p>Don't have an account? <a href="/register">Register</a></p>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include ('../partials/footer') %>
