<%- include ('../partials/head') %>
<%- include ('../partials/menu', { pageType: 'user' }) %>

<div class="user-profile">
    <div class="profile-header">
        <div class="navbar">
            <img id="profile-picture" src="<%=Image%>" alt="Profile Picture">
            <form action="/uploadPic" method="PUT" enctype="multipart/form-data" >
                <label for="file">Update User Pic</label>
                <br />
                <input type="file" id="userPhoto" name="Photo" />
                <br />
                <button>Upload</button>
            </form>
        </div>

        <div class="user-info">
                <h2 id="user-name"> Welcome <%= username %>!</h2>
            <p id="user-description" contenteditable="true">User Description: Click here to edit!</p>
        </div>
    </div>
    <div class="user-products">
        <h3>Products I'm Following</h3>
        <div id="products-container">
            <!-- Products will be inserted here -->
            <p id="no-products-message">I am too poor to buy skins</p>
        </div>
    </div>
</div>

<%- include ('../partials/footer') %>
