<%- include ('../partials/head') %>
<%- include ('../partials/menu', { pageType: 'user' }) %>

<div class="user-profile">
    <div class="profile-header">
        <div class="profile-picture-container">
            <img id="profile-picture" src="<%= profilePic || '/images/skinee-logo.png' %>" alt="Profile Picture">
            <div class="profile-picture-overlay">
                <form id="profilePicForm" action="/uploadProfilePic" method="POST" enctype="multipart/form-data" style="display:none;">
                    <input type="file" name="profilePic" accept="image/*" onchange="document.getElementById('profilePicForm').submit();">
                </form>
                <!-- Custom Upload Button -->
                <button class="btn btn-primary" onclick="document.querySelector('#profilePicForm input[type=file]').click();">Upload Image</button>
            </div>
        </div>
        <div class="user-info">
            <h2 id="user-name" class="drop-shadow" style="color:lightgrey"><%= username %></h2> <!-- Display the username -->
            <!-- User Description Form -->
            <form action="/saveDescription" method="post">
                <textarea name="description" style="background-color:transparent; color:lightgrey; width: 500px;" id="user-description" placeholder="Enter your description here...">
                    <%= userDescription || 'I like SkineeDipping' %>
                </textarea>
                <button type="submit" class="btn btn-primary">Save Description</button>
            </form>
        </div>
    </div>
    <div class="user-products">

        <h2 id="user-name"> Welcome <%= username %>!</h2>
        <h3>Products I'm Following</h3>
        <div id="products-container" class="row row-cols-auto">
            <% if (bookmarks && bookmarks.length > 0) { %>
                <% bookmarks.forEach(bookmark => { %>
                    <div class="item">
                        <div class="card" style="width: 18rem; background-color: rgb(96, 98, 130);">
                            <img src="<%= bookmark.product_image %>" class="card-img-top" alt="<%= bookmark.product_name %>">
                            <div class="card-body">
                                <h5 class="card-title"><%= bookmark.product_name %></h5>
                            </div>
                            <div class="card-body">
                                <a href="/detail_product/<%= bookmark.product_id %>" class="btn btn-primary light-grey-text">View Details</a>
                            </div>
                        </div>
                    </div>
                <% }); %>
            <% } else { %>
                <p id="no-products-message">I am too poor to buy skins</p>
            <% } %>
        </div>
    </div>
</div>

<%- include ('../partials/footer') %>
