<%- include ('../partials/head') %>
<%- include ('../partials/menu', { pageType: 'user' }) %>


<div class="user-profile">
    <div class="profile-header">
        <div class="profile-picture-container">
            <img id="profile-picture" src="../../resource/images/skinee-logo.png" alt="Profile Picture">
            <div class="profile-picture-overlay">
                <form action="/uploadPic" method="PUT" enctype="multipart/form-data" >
                    <label for="file">Update User Pic</label>
                    <br />
                    <input type="file" id="userPhoto" name="Photo" />
                    <br />
                    <button class="profile-upload-button">Upload</button>
                </form>
            </div>
        </div>
        <div class="user-info">

            <h2 id="user-name"><%= username %></h2> <!-- Display the username -->
            <p id="user-description" contenteditable="true">I like SkinnyDipping</p>
        </div>
    </div>
    <div class="user-products">
        <h2 id="user-name"> Welcome <%= username %>!</h2>        
        <br>
        <h3>Products I'm Following</h3>
        <div id="products-container">
            <!-- Products will be inserted here -->
            <p id="no-products-message">I am too poor to buy skins</p>
        </div>
    </div>
</div>

<%- include ('../partials/footer') %>
